# Node
node_modules/
lib/*.js.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Test outputs
coverage/
test-results/

# GitHub workflow run artifacts
*.tgz
*.lock
